/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 공통 */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

.header {
  height: 120px;
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  height: 41px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  position: absolute;
  left: calc(50% + 174.37px + 84px);
  bottom: 20px;
  word-break: keep-all;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
  position: relative;
  padding-bottom: 15px;
}

.nav a:hover {
  color: #fff;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.nav a:hover::after {
  transform: scaleX(1);
}

.main-inner {
  max-width: 930px;
  margin: 0 auto;
}


.underline {
  text-decoration: underline;
}

.scroll-to-top {
  position: fixed;
  right: 60px;
  bottom: 160px;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

/* index */
.intro-section {
  background-color: #000;
  padding: 240px;
  color: #fff;
  text-align: center;
}

.intro-title {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 400;
}

.intro-description {
  font-size: 16px;
  line-height: 26px;
}

.cta-section {
  background-color: #eeeeee;
  padding: 50px;
  text-align: center;
}

.cta-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
}

.cta-description {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 18px;
}

.join-btn {
  width: 196px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 25px;
  background-color: #fff;
  color: #000;
  transition: all 0.2s ease;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
}

.join-btn:hover {
  background-color: #d6001c;
  color: #fff;
  border: none;
}

.magazine-section {
  padding: 60px 0;
  text-align: center;
}

.magazine-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 15px;
}

.magazine-description {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 40px;
}

.img-wrap {
  display: flex;
  justify-content: center;
}

.image-placeholder {
  width: 290px;
  height: 290px;
  background-color: #d9d9d9;
  margin: 0 15px;
}

.index-footer {
  background-color: #eeeeee;
  padding: 60px;
  text-align: center;
}

.index-footer-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 15px;
}

.index-footer-description {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 40px;
}

.locations-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.location-block {
  text-align: left;
}

.location-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.location-text {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 7px;
}

.icon-wrap {
  margin-top: 20px;
  font-size: 0;
}

.icon-wrap a {
  display: inline-block;
}

.location-icon {
  height: 15px;
  margin-right: 10px;
}

/* brand */
.brand-intro-section {
  background-color: #000;
  padding: 240px;
  color: #fff;
  text-align: center;
}

.brand-intro-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-intro-title {
  font-size: 40px;
  font-weight: 400;
}

.brand-intro-description {
  font-size: 16px;
  line-height: 26px;
}

.brand-classes-section {
  padding: 60px 0;
  text-align: center;
}

.brand-classes-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 15px;
}

.brand-classes-description {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 40px;
}

.brand-classes-wrap {
  display: flex;
  justify-content: center;
}

.brand-class-box {
  width: 290px;
  height: 290px;
  margin: 0 15px;
  position: relative;
}

.brand-class-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.brand-class-text {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.brand-footer {
  background-color: #000;
  color: #fff;
  padding: 60px;
  text-align: center;
}

.brand-footer-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.brand-footer-description {
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
}

.brand-footer-container {
  display: flex;
  justify-content: space-between;
}

/* login */
.login-section {
  padding: 115px 0;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 40px;
}

.login-box {
  background-color: #f2f2f2;
  padding: 30px 40px;
  border-radius: 14px;
  width: 520px;
  border: solid 1px #8b8b8b;
}

.login-box h2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 23px;
}

.login-box input {
  width: 436px;
  height: 58px;
  padding: 0 17px;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid #8B8B8B;
  border-radius: 5px;
  color: #000;
  font-family: 'Montserrat';
}

.login-box input::placeholder {
  color: #C8C8C8;
}

.forgot-password {
  font-size: 16px;
  color: #8B8B8B;
  text-align: right;
  margin-top: -9px;
  margin-bottom: 18px;
  font-weight: 500;
}

.login-box button {
  width: 436px;
  height: 58px;
  font-weight: 700;
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s;
}

.login-box button:hover {
  border: solid 2px #ff0000;
  color: #ff0000;
}

.no-account {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  color: #8B8B8B;
}

.no-account a {
  color: #8B8B8B;
  font-weight: 600;
  margin-left: 5px;
  text-decoration: none;
}

/* sign up */
.signup-section {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 80px;
  background-color: #fff;
}

.signup-logo img {
  max-width: 300px;
}

.signup-box {
  background-color: #f2f2f2;
  padding: 30px 40px;
  border-radius: 14px;
  width: 520px;
  border: solid 1px #8b8b8b;
}

.signup-box h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.signup-box input[type="text"],
.signup-box input[type="password"] {
  width: 436px;
  height: 58px;
  padding: 0 17px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid #8B8B8B;
  border-radius: 5px;
  color: #000;
  font-family: 'Montserrat';
}

.signup-box input[type="email"] {
  width: 436px;
  height: 58px;
  padding: 0 17px;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid #8B8B8B;
  border-radius: 5px;
  color: #000;
  font-family: 'Montserrat';
}

.signup-box input::placeholder {
  color: #aaa;
}

.email-wrap {
  margin-bottom: 10px;
}

.email-contant {
  position: relative;
}

.email-contant input {
  width: 100%;
  padding-right: 90px;
  height: 45px;
  font-size: 14px;
  padding-left: 12px;
}

.email-contant .check-btn {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
  height: 38px;
  width: 120px;
  padding: 0 12px;
  font-size: 16px;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
}

.email-wrap input {
  flex: 1;
}

.check-btn {
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 6px;
}

.terms-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.terms-wrap input[type="checkbox"] {
  margin-right: 6px;
}

.privacy-link {
  color: red;
  text-decoration: none;
  font-weight: 500;
}

.check-btn {
  width: 436px;
  height: 58px;
  font-weight: 700;
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s;
}

.check-btn:hover {
  border: solid 2px #ff0000;
  color: #ff0000;
}

.terms-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 436px;
  height: 58px;
  padding: 0 17px;
  font-weight: 700;
  border: 1px solid #8B8B8B;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  font-family: 'Montserrat';
}

.checkbox-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.custom-checkbox:checked + .checkmark {
  background-color: #ff0000;
  border-color: #ff0000;
  transform: translateY(-50%);
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox:checked + .checkmark::after {
  display: block;
}

.terms-link {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.signup-footer {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  color: #8B8B8B;
}

.signup-footer a {
  color: #8B8B8B;
  font-weight: 600;
  margin-left: 5px;
  text-decoration: none;
}

.signup-btn {
  width: 436px;
  height: 58px;
  font-weight: 700;
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s;
  margin-top: 17px;
  cursor: pointer;
}

.signup-btn:hover {
  border: solid 2px #ff0000;
  color: #ff0000;
}
